{% extends "core/base_page.html" %}
{% load widget_tweaks %}
{% load hyperlink_list %}

{% block title %}Activities{% endblock %}

{% block header %}All Activities{% endblock %}

{% block content %}

     <div class="row">
          <div class="col-md-12">
               <table class="table table-striped table-responsive table-condensed">
                    <tr>
                         <th>Time</th>
                         <th>User</th>
                         <th>Activity</th>
                    </tr>
                    {% for activity in action_list %}
                    <tr>
                         <td>{{activity.created}}</td>
                         <td><a href="{{activity.user.profile.get_absolute_url}}">{{activity.user}}</a></td>
                         <td>{{activity.verb|capfirst}}
                         {% if activity.target %}
                              {{activity.target.type}} 
                              <a href="{{activity.target.get_absolute_url}}">'{{activity.target}}'</a>
                          {% endif %}
                         </td>
                    </tr>
                    {% endfor %}
               </table>

               
               
          </div>
          
          
     </div>

{% endblock %}