{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load mptt_tags %}

{% block title %}Transformation Topics {% endblock %}

{% block header %}Transformation Topics{% endblock %}

{% block item-buttons %}{% endblock %}

{% block content %}

    <div id="page-cards-flex">

    {% for node in topic_list %}
    
        {% if node.is_root_node %}

            <div class="topic-list">
                
                <h3>{{node.title}}</h3>
                
                {% for topic in node.get_children %}
                    
                    <div class="topic-card">
                        
                        <a href="{% url 'topic-detail' slug=topic.slug %}"><h4>{{topic.title}}</h4></a>
                        
                        {% if topic.description %}
                            <small>{{topic.description}}</small>
                        {% endif %}
                        
                        {% if not subtopic.is_leaf_node %}
                        
                            <ul class="subtopic-list">
                        
                            {% for subtopic in topic.get_descendants %}
                            
                                <li><a href="{% url 'topic-detail' slug=topic.slug %}">{{subtopic.title}}</a></li>
                                
                            {% endfor %}
                            
                            </ul>
                            
                        {% endif %}
                        
                    </div>
                
                {% endfor %}
                
            </div>

        {% endif %}

    {% endfor %}
    
    </div>
    
{% endblock %}