{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load mptt_tags %}

{% block title %}Topics {% endblock %}

{% block header %}Topics

     <!--<div class="pull-right">-->
     <!--     <a class="btn btn-success" href="{% url 'transformation-add' %}" data-toggle="tooltip" title="New Transformation">-->
     <!--          <span class="glyphicon glyphicon-plus-sign"></span>  Add New Transformation-->
     <!--     </a>-->
     <!--</div>-->

{% endblock %}

{% block content %}

    
    {% for n in topic_list %}
    
        {% if n.is_root_node %}
        
            {% cycle '<div class="row"><div class="list-group col-md-6">' '<div class="list-group col-md-6">' %}
        
            <h3>{{n.title}}</h3>
            
            {% recursetree n.get_children %}
        
                <a href="{% url 'topic-detail' slug=node.slug %}" class="list-group-item justify-content-between">
                
                <strong>{{ node.title }}</strong>
                
                {% if node.description %}
                    <br/>
                    {{node.description }}
                {% endif %}
                
                <span class="badge badge-default badge-pill">
                {{ node.resources|length }}    
                </span>
                
                </a>
            
            {% endrecursetree %}
            
            {% cycle '</div>' '</div></div>' %}
            
        {% endif %}
        
    {% endfor %}
    
{% endblock %}