{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load mptt_tags %}
{% load hyperlink_list %}

{% block title %}Topics - {{topic.title}} {% endblock %}

{% block header %} 
     {{ topic.title }} 
     
     {% if topic.parent %} 
          <small> (<a href="{% url 'topic-detail' slug=topic.parent.slug %}">{{topic.parent}}</a>)</small>
     {% endif %}

     <div class="pull-right dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus-sign"></span>  Add a New Resource
        <span class="caret"></span></button>
         
        <ul class="dropdown-menu">
            <li><a href="{% url 'resource-add-topic' type='link' slug=topic.slug %}">Add a new link</a></li>
            <li><a href="{% url 'resource-add-topic' type='file' slug=topic.slug %}">Add a new file</a></li>
        </ul>
     </div>

{% endblock %}

{% block content %}

     <div class="row">
          <div class="col-md-12">
               <table class="table table-striped">
                    {% if topic.description %}
                    <tr>
                         <th class="col-md-1">Description:</th>
                         <td>{{topic.description}}</td>
                    </tr>
                    {% endif %}
                    {% if topic.get_descendants %}
                         <tr>
                              <th class="col-md-1">Subtopics:</th>
                              <td>{% autoescape off %}{{topic.get_descendants|hyperlink_list:"slug"}}{% endautoescape %}</td>
                         </tr>
                    {% endif %}
               </table>
          </div>
     </div>
     
     {% include 'resources/resource_table_include.html' with resource_list=topic.resourcefamily %}
     

{% endblock %}