/* This is the crazy flex idea. */

html,body {
  margin: 0px;
  padding: 0px;
  font-family: 'Libre Franklin', sans-serif;
  min-height:100vh;
  min-width:100%;
  display:flex;
  flex-direction:column;
}


/* HEADER */

#header-flex {
  display:flex;
  padding: 0px 30px 0px 20px;
  font-weight:700;
  align-items:center;
  justify-content: space-between;
  color:white;
  margin-top:auto;
  margin-bottom:auto;
  position:fixed;
  width:100%;
  z-index:10;
  height: 60px;
}

#header-flex a {
  text-decoration:None;
  color:white;
}

#header-flex a:hover {
  color:lightgray;
}

#header-flex ul li a {
  color:black;
}

#header-flex ul li a:hover {
  color:#006E81;
  font-weight:700;
}


.title-flex {
  color: white;
  font-size:16pt;
  font-weight:700;
  display:flex;
  align-items:center;
  flex:3;
}

.title-flex img {
  padding: 0px 12px;
  height:45px;
}

.header-right-flex {
  flex:3;
  display:flex;
  justify-content:flex-end;
}

.header-right-flex-item {
  padding:0px 8px;
}

#header-flex i {
  padding: 0px 2px;
}

/* MAIN STUFF */

.main-flex {
  display:flex;
  flex:1;
  -ms-flex: 1; 
  background-color:white;
  padding-top:60px;
  min-height:100vh;
}

/* SIDEBAR */

.side-flex {
  flex: 0 0 250px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:#f5f5f5;
  align-self:stretch;
}

/* SIDE NAV */

.side-menu-flex {
  display:flex;
  flex-direction:column;
  flex:1;
  padding:0px 20px;
  margin:0px;
  background:#f5f5f5;
  align-content:center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:5;
}

.side-menu-flex ul,
.side-menu-flex .side-sub-menu ul {
  margin: 0px auto;
  list-style:None;
  padding:0px;
}

.side-menu-flex li,
.side-menu-flex li a {
  margin: 0px;
  font-size:11pt;
  text-decoration:None;
  color:#444444;
  padding-top:15px;
  font-weight:700;
}

.side-menu-flex .active {
  color:#006E81;
}

.side-menu-flex li i {
  padding-right:8px;
  list-style:none;
}


.side-menu-flex .side-sub-menu {
  padding-top: 5px;
  padding-bottom: 0px;
}

.side-menu-flex .side-sub-menu li,
.side-menu-flex .side-sub-menu li a {
  padding-top:0px;
  padding-bottom:0px;
  font-size:11pt;
  padding-left:12px;
  font-weight:500;
}


.side-menu-flex a:hover,
.side-menu-flex .side-sub-menu a:hover {
  text-decoration:None;
  color:#006E81;
  font-weight:700;
}

.footer-info-flex {
  flex-basis:auto;
  margin:auto;
  padding-bottom:10px;
}

/* MAIN PAGE STUFF */

.pageholder-flex {
  background:white;
  flex:1;
  display:flex;
  flex-direction: column;
  padding-left: 5px;
  padding-top: 10px;
  align-items:stretch;
}

.pageholder-flex-grey {
  background:#f5f5f5;
  flex:1;
  align-self:stretch;
  display:flex;
  flex-direction: column;
  padding: 0px;
}

.narrow-page-flex {
  max-width:70%;
  min-width:50%;
  margin: 40px auto;
  padding:20px;
  background:white;
  align-self:center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.narrow-page-flex li {
  padding-top:2px;
}


.pagetitle-flex {
  padding: 5px 30px 15px 30px;
  display:flex;
  flex: 1 1 65px;
  justify-content:space-between;
  align-items:center;
  background:white;
  border-bottom:1px solid lightgrey;
}

.pagetitle-flex:empty {
  display:none;
}

.pagetitle-flex p {
  font-weight:900;
  font-size:20pt;
  margin: 0px;
  padding: 0px;
}

.page-flex {
  flex: 0 1 100%;
  display:flex;
  flex-direction:column;
  padding:10px 30px;
}

/* HOME PAGE STUFF */

.home-top-flex {
  flex:4.25 4.25 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#0099cc;
  border-bottom:1px solid white;
  height:55%; /* Included for IE */
}

.highlight-this {
  border:3px solid pink;
}

.home-top-container {
  flex: 1 1 auto;
  display:flex;
  justify-content:center;
  margin:40px;
  height:50%; /* Added for IE */
  max-width:80%;
}

.home-top-text {
  display:flex;
  flex-direction:column;
  flex:3 1 800px; /* width added for IE */
  padding: 0px 25px;
  color: #444444;
  justify-content:center;
}

.home-top-flex .home-top-container .home-img-container {
  flex:0 0 20%;
  display:flex;
  align-items:center;
}

.home-top-text p {
  padding:0;
  margin:0;
}

.home-top-flex .home-top-container .home-top-text .home-title p {
  padding-bottom:0px
  
}

.home-gradient {
  background:radial-gradient(#f5f5f5 40%,lightgrey);
}


.home-top-flex .home-top-container .big-img {
  max-width:100%;
  max-height:100%;
  flex:none;
  align-self:center;
  
  
}

.home-top-flex .home-top-text .big-title {
  font-weight:900;
  font-size:4em;
  color: #444444;
  line-height:1.2em
}

.home-top-flex .home-top-text .tagline {
  font-weight:700;
  font-size:1.5em;
  padding-left:0.5em;
}

.home-top-flex .home-top-text .learn-more-button {
  
  padding-top:20px;
}
  
.home-bottom-flex {
  display:flex;
  flex:3;
  align-items:stretch;
  border:2px solid white;
  height:45%; /* Included for IE */
}

.home-bottom-card {
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  margin:2px 5px;
  background:#f5f5f5;
  font-size:0.9em;
}

.home-bottom-card .home-card-header {
  background:#006E81;
  color:white;
  font-size:1em;
  font-weight:700;
  padding:10px 10px;
  flex:0 1 auto;
  align-self:stretch;
  text-align:center;
}

.home-bottom-card .home-card-header i {
  padding: 0px 0.5em;
}

.home-bottom-card ul {
  flex:2 1 100%;
  list-style:none;
  padding:0px;
  align-self:stretch;
}

.home-bottom-card li {
  flex:1 1 100%;
  list-style:none;
  padding:10px;
  /* font-size:0.9em; */
  background:white;
  border:1px solid #006E81;
  border-width: 0px 1px 1px 1px;
  display:flex; 
  align-items:center;
}

.home-bottom-card li:hover {
  background:#f5f5f5;
}

.home-bottom-card li a {
  color:#006E81;
}

.home-bottom-card li a:hover {
  color:#444444;
  text-decoration:none;
}

.home-bottom-card li .badge {
  background:#006E81;
  margin-right:0.5em;
  font-weight:700;

}

/*

.home-bottom-card li .colorheader {
  flex:0 0 auto;
  background:purple;
  color:white;
  font-weight:700;
  padding: 5px 2em;
}

.home-bottom-card li .textpiece {
  background:white;
}

*/

/* TOPICS PAGE STUFF */

#page-cards-flex {
  display:flex;
  justify-content: space-between;
  align-items:stretch;
}

#page-cards-flex .topic-list {
  flex: 1 1 0;
  margin:0px 10px;
  background:#f5f5f5;
  padding: 0px 10px;
  display:flex;
  flex-direction:column;
  border:1px lightgray solid;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#page-cards-flex .topic-list .topic-card .subtopic-list {
  margin-top:5px;
}

#page-cards-flex .topic-list .topic-card {
  background:white;
  padding:10px;
  margin:5px;
  /*box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border:1px solid lightgray;
}

#page-cards-flex .topic-list .topic-card:hover {
  border:1px solid #006E81;
}

#page-cards-flex .topic-list .topic-card a {
  text-decoration:none;
}

#page-cards-flex .topic-list .topic-card h4 {
  margin-bottom:0px;
}


.root-list {
  list-style:none;
  padding-left:20px;
  display:flex;
  flex-flow:row wrap;
  border-collapse:collapse;
  border-left: dashed 1px #006E81;
}

.child-list {
  list-style:none;
  padding-left:0px;
}

.root-list li {
  margin:0px;
  padding:0px 10px;
  flex: 1 1 0;
  border:1px solid black;
}

.root-list-heading {
  font-size:14pt;
  border-bottom:1px solid #006E81;
  margin-bottom:5px;
}

.child-list li {
  margin:0px;
  border:none;
  padding:40px;
}

.child-list:first-child {
  border-left: none;
}

.root-list li a {
  font-weight:700;
  padding: 10px 0px;
  text-decoration:None;
}

.child-list li a {
  font-weight:500;
}

.gray-gradient {
    background: #006E81; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#006e81, #002b22); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#006e81, #002b22); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#006e81, #002b22); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#006e81, #002b22); /* Standard syntax */
}

/* BUTTONS AND UI ELEMENTS */

.searchbar {
  margin:25px 0px 10px 0px;
  border-radius:0px;
  padding: 4px;
  width:100%;
}

.searchbar:focus {
  outline:2px solid #006E81;
}

.buttonset-flex {
  display: flex;
  align-items:center;
  justify-content:center;
}

.buttonset-flex:empty {
  display:None;
}

.button-flex {
	cursor:pointer;
	border:1px solid #006E81;
	color:white;
	font-size:14px;
	font-weight:bold;
	padding:10px 25px;
	background-color:#006E81;
  text-decoration:None;
  margin:0px 2px;
}

.button-flex:hover {
  border:1px solid gray;
	background-color:gray;
	color: white;
	text-decoration:None;
}

.button-flex:a visited {
	background-color:#006E81;
	color: white;
	text-decoration:None;
}

.button-flex-white {
	cursor:pointer;
	border:1px solid #006E81;
	color:#006E81;
	font-size:14px;
	font-weight:bold;
	padding:10px 25px;
	background-color:white;
  text-decoration:None;
  margin:0px 2px;
}

.button-flex-white:hover {
  border:1px solid gray;
	background-color:gray;
	color: white;
	text-decoration:None;
}

.button-flex-white:a visited {
	background-color:white;
	color: #006E81;
	text-decoration:None;
}
