body {
  padding-top: 70px;
  font-family: 'Libre Franklin', sans-serif;
}

.navbar-inverse {
  background-color: #006E81;
}

.navbar-inverse .navbar-brand {
    color: lightgray;
    font-size: 18pt;
    font-weight:800;
}

.navbar-inverse .container {
  
}

.navbar-inverse .navbar-brand a:hover {
    color: white;
    font-size: 18pt;
}

.fit-please {
  padding: 0 15px 0 0;
  display:inline-block;
}

/* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          lightgray;
text-shadow:    none;
}
/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          white;                      
text-shadow:    none;
}

#page-title {
  margin:0px 0px 20px 0px; 
  padding-bottom:5px;
}

/* Collapsing list experiment */

.list-group.list-group-root {
  padding-left:15px;
}

.list-group.list-group-root .list-lvl-1 {
  padding-left:10px;
}

.list-group.list-group-root .list-lvl-2 {
  padding-left:40px;
}

.list-group.list-group-root .list-lvl-3 {
  padding-left:70px;
}

.list-group.list-group-root .list-lvl-4 {
  padding-left:100px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}



.panel-primary > .panel-heading-custom {
  backgorund-image:None;
  background:#006E81;
}
