{% extends 'core/base.html' %}
{% load wagtailcore_tags %}

{% block title %}{{page.title}}{% endblock %}

{% block header %}{{page.title}}{% endblock %}

{% block content %}

    <div class="row">
        
        <div class="col-md-8">
            
            {% for update in page.updates %}
            
                <span class="label label-primary">{{update.specific.up_date|date}}</span>
                <span class="label label-success">v{{update.specific.version}}</span>
                <h3>{{ update.title }}</h3>
                {{ update.specific.body|richtext }}

            {% empty %}
            
                <h4>No updates yet.</h4>
                
            {% endfor %}
            
            
        </div>    
        
    </div>

{% endblock %}

