{% extends 'core/base_card.html' %}

{% block title %}Terms of Use{% endblock %}
{% block header %}Terms of Use{% endblock %}

{% block content %}

    {{ form.errors }}
    
    {% for terms in form.initial.terms %}

        <h3>{{terms.name|safe}} <small>v{{terms.version_number|safe}}</small></h3>
        
        <div>
            {{terms.text|safe}}
        </div>
        
    {% endfor %}
    
    {% if form %}
    
    <form action="" method="post" id="tc-terms-form" data-ajax="false">
            {% csrf_token %}
            {{ form.terms }}
            {{ form.returnTo }}
    <div class="buttonset-flex">
          <button class="button-flex" type="submit">I Accept</button>
     </div>
    </form>
    
    {% endif %}
    
{% endblock %}
    
    
    