{% extends 'core/base.html' %}

{% block subtemplate %}
        
        {% if request.user.is_authenticated %}
      
        <div class="side-flex">
          
            {% include 'core/side_nav.html' %}
           
        </div>
        
        {% endif %}
        
        <div class="pageholder-flex">
          
          {% if not request.user.is_authenticated %}<div class="narrow-page-flex">{% endif %}
          
          <div class="pagetitle-flex">
            
            {% block header %} {% endblock %}
            
            <div class="buttonset-flex">
              
              {% block item-buttons %}{% endblock %}
              
            </div>
            
          </div>
         
           <div class="page-flex">
       
             {% include 'core/messages.html' %}
             
             {% block content %}{% endblock %}
             
          </div>
          
        </div>
        
        {% if not request.user.is_authenticated %}</div>{% endif %}
      
      </div>
      
{% endblock %}