{% extends 'core/base.html' %}

{% block subtemplate %}
        
    <div class="pageholder-flex">
          
        <div class="narrow-page-flex">
          
        <div class="pagetitle-flex">
            
            <p>{% block header %} {% endblock %}</p>
            
            <div class="buttonset-flex">
                      
                {% block item-buttons %}{% endblock %}
                      
            </div>
            
        </div>
         
        <div class="page-flex">
               
            {% include 'core/messages.html' %}
                     
            {% block content %}{% endblock %}
                     
        </div>      
        
    </div>
      
    </div>
      
{% endblock %}