{% load static %}

<div id="header-flex" class="gray-gradient">
  
  <div class="title-flex">
    <a href="{% url 'index' %}">
      <img src="{% static 'transformations/images/elephant_circle_2.png' %}"> Transformation Repository
    </a>
  </div>
  
  {% if request.user.is_authenticated %}
  
  <div class="header-center-flex dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-plus-square fa-lg"></i> <span class="caret"></span>
      
      <ul id="topmenus" class="dropdown-menu">
        <li><a href="{% url 'transformation-add' %}">New Transformation</a></li>
        <li><a href="{% url 'add-resource' 'file' %}">New File</a></li>
        <li><a href="{% url 'add-resource' 'link' %}">New Link</a></li>
        <li><a href="{% url 'add-resource' 'post' %}">New Post</a></li>
        <li><a href="#">Provide Feedback</a></li>
    </a>
    
  </div>

  <div class="header-right-flex dropdown">
    
    <a class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-user fa-lg"></i> 
      Welcome, {{request.user.first_name|default:request.user.username}}!  <span class="caret"></span>
    </a>
    
    <ul id="topmenus" class="dropdown-menu dropdown-menu-right">
      <li><a href="{% url 'user-profile' request.user.username %}">Your Profile</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>
    
  </div>
  
  {% endif %}
  
</div>