{% extends 'core/base_home.html' %}
{% load static %}
{% load wagtailcore_tags %}

{% block title %}Transformation Repository{% endblock %}

{% block content %}

    <div class="home-top-flex home-gradient">
        
        <div class="home-top-container">
                
            <div class="home-img-container">
            
                <img class="big-img" src="{% static 'transformations/images/elephant_circle_3.png' %}" alt="Repo Logo is an Elephant in a Room">
                
            </div>
            
                <div class="home-top-text">
                    
                    <div class="home-title">
                        
                        <p class="big-title">Transformation Repo</p>
                        
                        <p class="tagline">A place to share information about organizational transformation projects, practices and people in the OPS.</p>
                        
                    </div>
                        
                    <p class="learn-more-button"><a href="{% slugurl 'about' %}" class="button-flex">Learn More About the Project</a></p>
            
                </div>
        
        </div>
        
    </div>
    
    <div class="home-bottom-flex">
        
        <div class="home-bottom-card home-gradient">
            <div class="home-card-header">
                <i class="fa fa-bar-chart fa-lg"></i> By the Numbers
            </div>
            
            <ul>
                <a href="{%url 'resources' %}"><li><span class="badge">{{resources_count}}</span> Resources</li></a>
                <a href="{%url 'index' %}"><li><span class="badge">{{transformation_count}}</span> Transformations</li></a>
                <a href="{%url 'topics' %}"><li><span class="badge">{{topics_count}}</span> Topics</li></a>
                <li><span class="badge">{{users_count}}</span> Users</li>
            </ul>
        </div>
        
        <div class="home-bottom-card home-gradient">
            <div class="home-card-header">
                <i class="fa fa-newspaper-o fa-lg"></i> Latest Activity
            </div>
            <ul>
                {% for action in recent_actions %}
                    <a href="{{action.target.get_absolute_url}}">
                    <li><span class="badge">{{action.created|date:"n/j"}}</span> 
                    <span>{{action.target.type|capfirst}} 
                    " {{action.target}}" {{action.verb}}.</span></li></a>
                {% endfor %}
            </ul>
        </div>
        
        <div class="home-bottom-card">
            <div class="home-card-header">
                <i class="fa fa-puzzle-piece fa-lg"></i> Site Development Updates
            </div>            
            <ul>
                {% for update in site_updates_page.updates %}
                    <a href="{% pageurl update %}"><li>
                        <span class="badge">{{update.specific.up_date|date:"n/j"}}</span> 
                        {{update.title}}</li></a>
                {% endfor %}
            </ul>
        </div>        
        
        
    </div>

 
{% endblock %}