{% load wagtailcore_tags %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="side-menu-flex">
  
  <form>
    <input type="text" class="searchbar" placeholder="Search...">
  </form>
<ul>
  
  <li>
    <a href="{% url 'home' as link %}" {% if request.get_full_path == link %} class="active" {% endif %} >
    <i class="fa fa-home"></i>Home</a>
  </li>

  <li>
    <a href="{% url 'resources' %}" {% if '/resources/' in request.get_full_path %} class="active" {% endif %} >
    <i class="fa fa-share-alt"></i>All Resources</a>
  </li>
  
  <li>
    
    <a href="{% url 'index' %}" {% if '/transformations/' in request.get_full_path %} class="active" {% endif %}>
    <i class="fa fa-spinner"></i>OPS Transformations</a>
    
    <!--
    
    <ul class="side-sub-menu">
      
      <li><a href="{% url 'index' %}#">Current Transformations</a></li>
      <li><a href="{% url 'index' %}">Past Transformations</a></li>
    </ul>
  
    -->
  
  </li>
  
  <li>
    <a href="{% url 'topics' %}" {% if '/topics/' in request.get_full_path %} class="active" {% endif %}>
    <i class="fa fa-lightbulb-o"></i>Transformation Topics</a>
    
    <!--
    
    <ul class="side-sub-menu">
      
      {% for topic in topics %}
        <li><a href="{{topic.get_absolute_url}}">{{topic.title}}</a></li>
      {% endfor %}
      
    </ul>
    
    -->
    
  </li>
  
  <li>
    
    <a href="#"><i class="fa fa-info-circle"></i>About the Site</a>
    
    <!--
    
    <ul class="side-sub-menu">
      <li><a href="{% slugurl 'about' %}">FAQ - Start Here</a></li>
      <li><a href="#">Change Log</a></li>
      <li><a href="#">Provide Feedback</a></li>
    </ul>
    
    -->
  
  </li>
  
  <li>
    <a href="{% url 'feedback' %}"><i class="fa fa-comments-o"></i>Talk to us!</a>
  </li>
  
  {% if request.user.is_staff %}
  <li>
    
    <i class="fa fa-flask"></i>Experiments
    
    <ul class="side-sub-menu">
      <li><a href="{% url 'activity-feed' %}">Activity Feed</a></li>
      <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
    </ul>
  
  </li>
  {% endif %}

</ul>

</div>

