<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="side-menu-flex">

<ul>

  <li>
    <a href="#"><i class="fa fa-share-alt"></i>All Resources</a>
  </li>
  
  <li>
    
    <i class="fa fa-spinner"></i>OPS Transformations
    
    <ul class="side-sub-menu">
      <li><a href="#">Current Transformations</a></li>
      <li><a href="#">Past Transformations</a></li>
    </ul>
  
  </li>
  
  <li>
    <a href="#"><i class="fa fa-lightbulb-o"></i>Transformation Topics</a>
  </li>
  
  <li>
    
    <i class="fa fa-info-circle"></i>About the Site
    
    <ul class="side-sub-menu">
      <li><a href="#">FAQ - Start Here</a></li>
      <li><a href="#">Change Log</a></li>
      <li><a href="#">Provide Feedback</a></li>
    </ul>
  
  </li>

</ul>

</div>