<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <!--<div class="brand">Transformation Repository</div>-->
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content"> <!--removed collapse out-->
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Home
                  </a>
                </li>

                <li {% if "transformations" in request.path %}class="active"{% endif %}>
                  <a href="{% url 'index' %}"><i class="fa fa-gift fa-lg"></i> Transformations </a>
                </li>
                


                <li>
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Topics</a>
                </li>  


                <li>
                  <a href="#"><i class="fa fa-car fa-lg"></i> Resources</a>
                </li>
                <!--<ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>-->


                 <li data-toggle="collapse" data-target="#site" class="collapsed in">
                      <a href="#"><i class="fa fa-user fa-lg"></i> Site<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="site">
                      <li>About the Repo</li>
                      <li>Site Updates</li>
                      <li>Contact Us</li>
                  </ul>
                  
                    <li data-toggle="collapse" data-target="#experiments" class="collapsed">
                      <a href="#"><i class="fa fa-user fa-lg"></i> Experiments<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="experiments">
                      <li>Leaderboard</li>
                      <li>Activity Feed</li>
                  </ul>
            </ul>
     </div>
</div>