<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!--

<div class="nav-side-menu">
    <!--<div class="brand">Transformation Repository</div>-->
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content"> <!--removed collapse out-->
                <li>
                  <a href="#">
                  <i class="fa fa-home"></i> Home
                  </a>
                </li>
                
                <li>
                  <a href="#"><i class="fa fa-share-alt"></i> All Resources</a>
                </li>

                <li {% if "transformations" in request.path %}class="active"{% endif %}>
                  <a href="{% url 'index' %}"><i class="fa fa-spinner"></i> OPS Transformations </a>
                </li>

                <li>
                  <a href="#"><i class="fa fa-lightbulb-o"></i> Transformation Topics</a>
                </li>  



                
                <li>
                  <a href="#"><i class="fa fa-user "></i> Me (username)</a>
                </li>

                 <li data-toggle="collapse" data-target="#site" class="collapsed in">
                      <a href="#"><i class="fa fa-info-circle"></i> About the Repo<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="site">
                      <li>FAQ - Start Here</li>
                      <li>Site Updates</li>
                      <li>Contact Us</li>
                  </ul>
                  
                    <li data-toggle="collapse" data-target="#experiments" class="collapsed">
                      <a href="#"><i class="fa fa-flask"></i> Experiments<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="experiments">
                      <li>Leaderboard</li>
                      <li>Activity Feed</li>
                  </ul>
            </ul>
     </div>
</div>

-->