{% extends "core/base.html" %}

{% block title %} 
     Transformation Inventory - {{transformation.title}}
{% endblock %}

{% block header %}
     {{transformation.title|truncatewords:10}}<small> ({{ transformation.ministries_list }})</small>
     
     <div class="pull-right">
          <a class="btn btn-default" href="{% url 'transformation-delete' transformation.pk %}" data-toggle="tooltip" title="Delete Transformation">
               <span class="glyphicon glyphicon-trash"></span>
          </a>
     </div>
{% endblock %}

{% block content %}

     <div class="row">
          <div class="col-md-8">
               <h3>Details:
               
                    <div class="pull-right">
                         <a class="btn btn-default" href="{% url 'transformation-edit' transformation.pk %}" data-toggle="tooltip" title="Edit Details">
                              <span class="glyphicon glyphicon-pencil"></span>
                         </a>
                    </div>
                    
               </h3>
               
               <table class="table table-striped align-middle">
                    <tr>
                         <th class="col-md-2">Transformation Title</th>
                         <td class="col-md-10">{{transformation.title}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Ministry</th>
                         <td class="col-md-10">{{transformation.ministries_list}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Specific Areas & Other Orgs</th>
                         <td class="col-md-10">{{transformation.specific_orgs}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">High-Level Description</th>
                         <td class="col-md-10">{{transformation.description}}</td>
                    </tr>                    
                    <tr>
                         <th class="col-md-2">Problem</th>
                         <td class="col-md-10">{{transformation.problem}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Category</th>
                         <td class="col-md-10">{{transformation.get_category_display}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Status</th>
                         <td class="col-md-10">{{transformation.get_status_display}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Primary Contact</th>
                         <td class="col-md-10">{{transformation.primary_contact}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Tags</th>
                         <td class="col-md-10">{{transformation.tags.all|join:', '}}</td>
                    </tr>

               </table>
               
          </div>
          
          <div class="col-md-4">
               
               <h3>Related Resources:
               
                    <div class="pull-right">
                         <a class="btn btn-default" href="{% url 'add-link' transformation.pk %}" data-toggle="tooltip" title="Add Link">
                              <span class="glyphicon glyphicon-link"></span>
                         </a>
                         <a class="btn btn-default" href="{% url 'add-file' transformation.pk %}" data-toggle="tooltip" title="Add Attachment">
                              <span class="glyphicon glyphicon-file"></span>
                         </a>
                    </div>
     
               </h3>
     
               {% include 'resources/resource_list_include.html' with resource_list=transformation.resources %}
               
          </div>
     </div>

{% endblock %}