{% extends "core/base_page.html" %}
{% load humanize %}

{% block title %} 
     Transformation Inventory - {{transformation.title}}
{% endblock %}

{% block header %}
     {{transformation.title|truncatewords:10}}<small> ({{ transformation.ministries_list }})</small>
{% endblock %}

{% block item-buttons %}
    <a href="{% url 'transformation-delete' transformation.pk %}" class="button-flex">Delete Transformation</a>
{% endblock %}

{% block content %}

     <div class="row">
          <div class="col-md-8">
               <h3>Details:
               
                    <div class="pull-right">
                         <a class="btn btn-default" href="{% url 'transformation-edit' transformation.slug %}" data-toggle="tooltip" title="Edit Details">
                              <span class="glyphicon glyphicon-pencil"></span> Edit
                         </a>
                    </div>
                    
               </h3>
               
               <table class="table table-striped align-middle">
                    <tr>
                         <th class="col-md-3">Transformation Title</th>
                         <td class="col-md-9">{{transformation.title}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Ministry</th>
                         <td class="col-md-10">{{transformation.ministries_list}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Specific Orgs</th>
                         <td class="col-md-10">{{transformation.specific_orgs}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">High-Level Description</th>
                         <td class="col-md-10">{{transformation.description|linebreaks}}</td>
                    </tr>                    
                    <tr>
                         <th class="col-md-2">What Problem is it Addressing?</th>
                         <td class="col-md-10">{{transformation.problem|linebreaks}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Primary Category</th>
                         <td class="col-md-10">{{transformation.get_category_display}}</td>
                    </tr>
                    <!--<tr>
                         <th class="col-md-2">Areas of Focus</th>
                         <td class="col-md-10">{{transformation.tags.all|join:', '}}</td>
                    </tr>-->
                    <tr>
                         <th class="col-md-2">Status</th>
                         <td class="col-md-10">{{transformation.get_status_display}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Primary Contact</th>
                         <td class="col-md-10">{{transformation.primary_contact}}</td>
                    </tr>
                    {% with transformation.created as created %}{% if created %}
                    <tr>
                         <th>Created</th>
                         <td>{{created.created|naturalday|capfirst}} by <a href="{{created.user.profile.get_absolute_url}}">{{created.user.get_full_name|title}}</a>.</td>
                    </tr>
                    {% endif %}{% endwith %}
                    {% with transformation.modified as modified %}{% if modified %}
                    <tr>
                         <th>Last Modified</th>
                         <td>{{modified.created|naturalday|capfirst}} by <a href="{{modified.user.profile.get_absolute_url}}">{{modified.user.get_full_name|title}}</a>.</td>
                    </tr>
                    {% endif %}{% endwith %}

               </table>
               
          </div>
          
          <div class="col-md-4">
               
               <h3>Related Resources:
               
               <div class="pull-right dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-plus-sign"></span>  Add
                  <span class="caret"></span></button>
                   
                  <ul class="dropdown-menu">
                      <li><a href="{% url 'transformation-add-resource' type='link' slug=transformation.slug %}">Add a new link</a></li>
                      <li><a href="{% url 'transformation-add-resource' type='file' slug=transformation.slug %}">Add a new file</a></li>
                      <li><a href="{% url 'transformation-add-resource' type='post' slug=transformation.slug %}">Add a new post</a></li>
                  </ul>
               </div>
     
               </h3>
     
               {% include 'resources/resource_list_include.html' with resource_list=transformation.resources.all %}
               
          </div>
     </div>

{% endblock %}