{% extends "core/base.html" %}
{% load hyperlink_list %}
{% load humanize %}

{% block title %} 
     {{object.type|title}} - {{object.title}}
{% endblock %}

{% block header %}
     {{object.title}}<small> ({{ object.type|title }})</small>
{% endblock %}

{% block item-buttons %} {% include 'resources/resource_buttons_include.html' %} {% endblock %}

{% block content %}

     
     <div class="row">
          
          <div class="col-md-8">
              <div class="panel panel-default">
                    <div class="panel-heading-custom panel-heading">
                         <span class="strong">{{object.title}}</span>
                        <span class="pull-right">Posted {{object.created.created}} by {{object.created.user}}</span>
                    </div>
                  <div class="panel-body">
                      {{object.post|linebreaks}}
                    </div>
              </div>

          </div>
          <div class="col-md-4">
               <table class="table table-striped table-condensed align-middle">
                    <tr>
                         <th class="col-md-1">Description</th>
                         <td>{{object.description}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-1">Category</th>
                         <td>{{object.get_category_display}}</td>
                    </tr>
                    {% if object.transformation %} 
                    <tr>
                         <th class="col-md-1">Transformation</th>
                         <td>
                                   <a href="{% url 'transformation-detail' object.transformation.slug %}">
                                        {{object.transformation}}
                                   </a>
                              
                         </td>
                    </tr>
                    {% endif %}
                    <tr>
                         <th class="col-md-1">Topics</th>
                         <td>{% autoescape off %}{{object.topics.all|hyperlink_list:"slug"}}{% endautoescape %}</td>
                    </tr>
                    {% with object.created as created %}{% if created %}
                    <tr>
                         <th>Created</th>
                         <td>{{created.created|naturalday|capfirst}} by <a href="{{created.user.profile.get_absolute_url}}">{{created.user.get_full_name|title}}</a>.</td>
                    </tr>
                    {% endif %}{% endwith %}
                    {% with object.modified as modified %}{% if modified %}
                    <tr>
                         <th>Last Modified</th>
                         <td>{{modified.created|naturalday|capfirst}} by <a href="{{modified.user.profile.get_absolute_url}}">{{modified.user.get_full_name|title}}</a>.</td>
                    </tr>
                    {% endif %}{% endwith %}
                    
               </table>
          </div>
     </div>
     
     {% include 'resources/review_list_include.html' %}
     
{% endblock %}