{% extends "core/base.html" %}
{% load hyperlink_list %}
{% load humanize %}

{% block title %} 
     {{object.type|title}} - {{object.title}}
{% endblock %}

{% block header %}
     {{object.title}}<small> ({{ object.type|title }})</small>
     
{% include 'resources/resource_buttons_include.html' %}

{% endblock %}

{% block content %}

     
     <div class="row">
          <div class="col-md-12">
               <h3>Details:</h3>
               <table class="table table-condensed align-middle">
                    <tr class="active">
                         <th class="col-md-2">{{object.type|title}}</th>
                         <td>
                              {%if object.type == 'link' %}
                                   {{object.link|urlize}}
                              {% endif %}
                              {%if object.type == 'file' %}
                                   <a href="{{ object.file.url }}">{{object.filename}}</a>
                              {% endif %}
                              {%if object.type == 'post' %}
                                   {% autoescape off %} {{object.post}} {% endautoescape %}
                              {% endif %}
                         </td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Title</th>
                         <td class="strong">{{object.title}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Description</th>
                         <td>{{object.description}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Category</th>
                         <td>{{object.get_category_display}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Transformation</th>
                         <td>
                              {% if object.transformation %} 
                                   <a href="{% url 'transformation-detail' object.transformation.slug %}">
                                        {{object.transformation}}
                                   </a>
                              {% endif %}
                         </td>
                    </tr>                    
                    <tr>
                         <th class="col-md-2">Topics</th>
                         <td>{% autoescape off %}{{object.topics.all|hyperlink_list:"slug"}}{% endautoescape %}</td>
                    </tr>
                    {% with object.created as created %}{% if created %}
                    <tr>
                         <th>Created</th>
                         <td>{{created.created|naturalday|capfirst}} by <a href="{{created.user.profile.get_absolute_url}}">{{created.user.get_full_name|title}}</a>.</td>
                    </tr>
                    {% endif %}{% endwith %}
                    {% with object.modified as modified %}{% if modified %}
                    <tr>
                         <th>Last Modified</th>
                         <td>{{modified.created|naturalday|capfirst}} by <a href="{{modified.user.profile.get_absolute_url}}">{{modified.user.get_full_name|title}}</a>.</td>
                    </tr>
                    {% endif %}{% endwith %}
                    {% with object.total_stars as stars %}{% if stars > 0 %}
                    <tr>
                         <th>Total Stars</th>
                         <td>{{stars}}</td>
                    </tr>
                    {% endif %}{% endwith %}
                    {% if object.credit %}
                    <tr>
                         <th>Credit</th>
                         <td>{{object.credit}}</td>
                    </tr>
                    {% endif %}
               </table>
          </div>
     </div>
     
{% include 'resources/review_list_include.html' %}
     
{% endblock %}