{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load hyperlink_list %}

{% block header %}Resources

     <!--<div class="pull-right">-->
     <!--     <a class="btn btn-success" href="{% url 'transformation-add' %}" data-toggle="tooltip" title="New Transformation">-->
     <!--          <span class="glyphicon glyphicon-plus-sign"></span>  Add New Transformation-->
     <!--     </a>-->
     <!--</div>-->

{% endblock %}

{% block content %}
     
     {% include 'resources/resource_table_include.html' with resource_list=resources %}

{% endblock %}