     <div class="pull-right"> <!-- Edit & delete buttons -->
          

          <a class="btn btn-default" href=
               "{% if object.type == 'link' %}{% url 'edit-link' object.slug %}{% endif %}
               {% if object.type == 'file' %}{% url 'edit-file' object.slug %}{% endif %}
               {% if object.type == 'post' %}{% url 'edit-post' object.slug %}{% endif %}"
               data-toggle="tooltip" title="Edit">
               
               <span class="glyphicon glyphicon-pencil"></span> Edit Details
          </a>
          
          {% if not user_review %}
               <a class="btn btn-default" href="{% url 'add-review' object.slug %}">
                    <span class="glyphicon glyphicon-star"></span> Review
               </a>
          {% else %}
               <a class="btn btn-default" href="{% url 'edit-review' object.slug %}">
                    <span class="glyphicon glyphicon-star-empty"></span> Edit Review
               </a>
          {% endif %}
          
          <a class="btn btn-default" href=
               "{% if object.type == 'link' %}{% url 'delete-link' object.slug %}{% endif %}
               {% if object.type == 'file' %}{% url 'delete-file' object.slug %}{% endif %}
               {% if object.type == 'post' %}{% url 'delete-post' object.slug %}{% endif %}"
               data-toggle="tooltip" title="Delete">
               
               <span class="glyphicon glyphicon-trash"></span> Delete
          </a>
          


     </div>